p.lead.text-center
  | Load example:
  select#example-select
.row.demo-row
  #worst-problem-wrapper
  .col-md-4
    p.lead Write some JavaScript here.
    #javascript-input.ace-editor-wrapper.dev-section
  .col-md-4
    p.lead Use Aether on it.
    #aether-input.ace-editor-wrapper.dev-section
  .col-md-4
    p.lead Problems detected show up here.
    #aether-problems.dev-section
.row.demo-row
  .col-md-4
    p.lead Gory transpiled code!
    #aether-input.ace-editor-wrapper.dev-section
  .col-md-4
    p.lead Execution metrics!
    #aether-metrics.dev-section
    p.lead Console output lurks here.
    pre#aether-console.
      
  .col-md-4
    p.lead Flow analysis!
    #aether-flow.dev-section
