body {
  background: #ddd;
}

#content {
  box-shadow: 0 0 6px;
  margin: 0 auto;
  width: 800px;
  background: white;
  padding: 20px;
}

h1 {
  border-radius: 3px;
  padding: 15px 10px;
  background: #0b97c4;
  
  color: white;
  text-shadow: 1px 1px 1px black;
  margin-bottom: 0px;
}

.nav { padding: 0 5px; margin-top: 5px; }
#github-link {
  float: right;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px; 
}

h3 { margin-top: 40px; }
h4 { margin: 20px 0; }
li { margin: 4px 0; }

/* Demos */

.tab-pane {
  padding: 10px;
  margin-bottom: 20px;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  box-shadow: 0 0 10px #aaa;
}

.nav-tabs li { z-index: 1; }

pre.tab-pane {
  border: 0;
}

pre { margin-bottom: 20px }

/* Musical double bar footer */
footer { margin-top: 50px; text-align: center; clear: both; }
footer div { background-color: #666; }
footer .bar { margin-top: 10px; width: 100%; }
footer div:first-child { height: 5px; }
footer div:last-child { height: 20px; margin-top: 10px; }

pre { font-size: 12px; }

#demo {
  background: white;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  top: 180px;
}

#demo .ace_editor_wrapper, #demo #aether_problems {
  position: absolute;
  top: 35px;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 380px;
}

#demo #aether_problems {
  overflow: scroll;
}